body,html {
    margin:0;
    width:100%;
    background-color: #01eeff;
}

.flex-grow-1 strong {
    font-size: 28px;
}

.border {
    border: 3px solid #343a40!important;
}

.d-flex.flex-column {
    width: 60vw;
}

.p-2.d-flex {
    background-color: #007bff;
}

.btn-primary {
    background-color: #007bff;
}

.bg-light {
    background-color: #f8f9fa!important;
}

div strong {
    color: rgba(255, 255, 255, 0.692);
}

h1 strong {
    color: rgba(0, 0, 0, 0.527);
}