{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Anggrio Wildanhadi Sutopo's Profile</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row align-items-center justify-content-md-center mt-5 mb-4">
        <h1 class="text-center">
            <strong>Anggrio Wildanhadi Sutopo's Profile</strong>
        </h1>
    </div>
    <div class="row align-items-center justify-content-md-center mb-4">
        <div class="d-flex flex-column border" id="box1">
            <div class="p-2 d-flex text-center">
                <div class="p-2 flex-grow-1 pl-5 ml-5" id="flip1">
                    <strong>About Me</strong>
                </div>
                <div class="p-2">
                    <button type="button" class="btn btn-primary border" id="up1">˄</button>
                </div>
                <div class="p-2">
                    <button type="button" class="btn btn-primary border" id="down1">˅</button>
                </div>
            </div>
            <div class="p-2 bg-light border-top border" id="panel1" style="display: none">
                <p>
                    Anggrio Wildanhadi Sutopo is a university student currently studying at the Faculty of Computer Science in Universitas Indonesia.
                    He grew up in Jakarta with his family who nurtured his interest in computer programming.
                    At the age of 16 during his second year in high school, he won 2nd place at a game development competition held by the Swiss German
                    University. Since his freshman year in university, he has joined various organizations and activities, including becoming a member
                    of the Faculty’s Student Executive Board, a member of the Indie Game Design Commitee for COMPFEST 11, and the Teaching Assitant
                    Coordinator for the Introduction to Digital Systems course. This semester, he is assigned as the Teaching Assistant Coordinator
                    for the Introduction to Computer and Organization course.<br>
                    Rio grew up with one older brother who is currently studying Film and Cinema in Australia. His father is the current President
                    Director of PT Penjaminan Infrastruktur Indonesia. His mom is the current leader of the company’s housewife association.
                </p>
            </div>
        </div>
        <div class="d-flex flex-column border" id="box2">
            <div class="p-2 d-flex text-center">
                <div class="p-2 flex-grow-1 pl-5 ml-5" id="flip2">
                    <strong>Current Activities</strong>
                </div>
                <div class="p-2">
                    <button type="button" class="btn btn-primary border" id="up2">˄</button>
                </div>
                <div class="p-2">
                    <button type="button" class="btn btn-primary border" id="down2">˅</button>
                </div>
            </div>
            <div class="p-2 bg-light border-top border" id="panel2" style="display: none">
                <h4>
                    Teaching Assistant Coordinator
                </h4>
                <p>
                    Introduction to Computer Organization 2020
                </p>
            </div>
        </div>
        <div class="d-flex flex-column border" id="box3">
            <div class="p-2 d-flex text-center">
                <div class="p-2 flex-grow-1 pl-5 ml-5" id="flip3">
                    <strong>Organizational/Commitee Experience</strong>
                </div>
                <div class="p-2">
                    <button type="button" class="btn btn-primary border" id="up3">˄</button>
                </div>
                <div class="p-2">
                    <button type="button" class="btn btn-primary border" id="down3">˅</button>
                </div>
            </div>
            <div class="p-2 bg-light border-top border" id="panel3" style="display: none">
                <h4>
                    Open House Fasilkom UI 2018
                </h4>
                <p>
                    Public Relation and Publication Staff
                </p>
                <h4>
                    BEM Fasilkom UI 2019
                </h4>
                <p>
                    Scientific Department Staff
                </p>
                <h4>
                    COMPFEST 11 2019
                </h4>
                <p>
                    Indie Game Ignite Staff
                </p>
            </div>
        </div>
        <div class="d-flex flex-column border" id="box4">
            <div class="p-2 d-flex text-center">
                <div class="p-2 flex-grow-1 pl-5 ml-5" id="flip4">
                    <strong>Achievements</strong>
                </div>
                <div class="p-2">
                    <button type="button" class="btn btn-primary border" id="up4">˄</button>
                </div>
                <div class="p-2">
                    <button type="button" class="btn btn-primary border" id="down4">˅</button>
                </div>
            </div>
            <div class="p-2 bg-light border-top border" id="panel4" style="display: none">
                <h4>
                    2015 Asian Student Exchange Program
                </h4>
                <p>
                    Participant, obtained Best Presentation Award alongside Al Izhar team
                </p>
                <h4>
                    SGU Game-A-Thon 2016
                </h4>
                <p>
                    Second Place Winner alongside Al Izhar team with the game titled "Bambu Runcing"
                </p>
                <h4>
                    BEM Fasilkom UI 2019
                </h4>
                <p>
                    Obtained the Best Staff Award from the first gathering
                </p>
                <h4>
                    TOEFL IBT
                </h4>
                <p>
                    Obtained a score of 109, with the score of each part being: 29 (reading), 30(listening), 23(speaking), and 27(writing)
                </p>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button type="button" id="change" class="btn btn-primary border">Change Theme</button>
    </div>
</div>
{% endblock %}